body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.container {
    display: inline-block;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.container:hover {
    box-shadow: 0 0 10px pink;
}

.glow-text {
    font-size: 36px;
    color: pink;
}

.footer {
    text-align: center;
    margin: 10px 0;
}

.footer ul.social-media {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer ul.social-media li {
    margin-right: 10px;
}

.footer ul.social-media li:last-child {
    margin-right: 0;
}

.background-image {
    background-image: url('https://cdn.discordapp.com/attachments/1155911389605540012/1156663497833336913/R_2.jpg?ex=6515ca53&is=651478d3&hm=e5e772396e810123312c6a33a645dbff5b87196cb76766d233862fb0de14cdcc&');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
