body {
    background-image: url('https://cdn.discordapp.com/attachments/1155911389605540012/1156663497833336913/R_2.jpg?ex=6515ca53&is=651478d3&hm=e5e772396e810123312c6a33a645dbff5b87196cb76766d233862fb0de14cdcc&');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-info {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px pink;
}

.social-info p {
    font-size: 14px;
}

.social-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-header h2 {
    margin-right: 10px;
}

.social-header a img {
    border-radius: 50%;
    box-shadow: 0 0 10px pink;
}

.social-info:hover {
    box-shadow: 0 0 20px pink; /* Increased glow */
}

/* Additional styles for descriptions */
.social-info p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.social-info:hover {
    box-shadow: 0 0 20px pink; /* Increased glow */
    animation: hoverAnimation 0.5s ease;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: perspective(500px);
    cursor: pointer;
}