body {
  background-color: #000; /* Mørkt bakgrunnsfarge */
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Hvit tekstfarge */
}

.container {
  display: inline-block;
  padding: 20px;
  border: 2px solid #333; /* Mørkegrå ramme */
  border-radius: 10px; /* Avrundede kanter */
  transition: box-shadow 0.3s ease; /* Overgang for glød-effekten */
  margin-bottom: 20px;
}

.container:hover {
  box-shadow: 0 0 10px pink; /* Glød-effekt når musepekeren er over */
}

.glow-text {
  font-size: 36px;
  color: pink; /* Rosa tekstfarge */
}

.footer {
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer li a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
